@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js");
.logo {
  align-items: left;
  margin: 5px 15px 10px 5px;
  padding: 5px 15px 10px 5px;
}

header {
  text-align: left;
  grid-area: header;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 5px;
}

.nav-link {
  margin-top: 16px;
  transition: 0.5s;
  background-color: linear-gradient(to top, rgb(238, 176, 210), rgb(190, 190, 94));
}
.nav-link:hover {
  background-color: gold;
  transition: 0.5s;
}

.nav__item {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  background-color: linear-gradient(to top, rgb(238, 176, 210), rgb(190, 190, 94));
}

.nav__item:first-child {
  margin-left: 0;
}

main {
  grid-area: main;
}
main .qSomos, main .calidadLema {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 60px;
  background: linear-gradient(to top, rgb(238, 176, 210), rgb(190, 190, 94));
  width: 70%;
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
main .qSomos .headline .description, main .calidadLema .headline .description {
  color: #828282;
  text-align: left;
}
main .invitacion {
  background: linear-gradient(to top, rgb(238, 176, 210), rgb(190, 190, 94));
  flex: 1;
  margin-top: 40px;
  margin-bottom: 60px;
  color: red;
  text-align: center;
  margin-left: auto;
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
  flex: 1;
  margin-top: 10px;
  margin-bottom: 60px;
  margin-right: auto;
  width: 70%;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

main {
  margin-left: 25px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 1px;
  padding-bottom: 20px;
  padding-left: 25px;
}
main .productos {
  max-width: 45%;
}

.comerSanoPadre {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 1px;
  padding-bottom: 20px;
}
.comerSanoPadre .comerSano {
  max-width: 100%;
}
.comerSanoPadre .comerSano .textoComerSano {
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.comerSanoPadre .card {
  height: 0;
  padding-bottom: 2px;
  margin-bottom: 5px;
}
.comerSanoPadre .card .card-body {
  width: fit-content;
  height: fit-content;
}

main .textoSucursales {
  padding-top: 24px;
  margin-top: 24px;
  margin-bottom: 50px;
  padding-bottom: 250px;
}

main {
  /* FORM de "Contacto" */
  padding-bottom: 40px;
}
main .form-body {
  margin: 30px 350px 30px 350px;
}
main .form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}
main .form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px;
}
main .form-content .form-items {
  border: 3px solid #fff;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
main .form-content h3 {
  color: black;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}
main .form-content h3.form-title {
  margin-bottom: 30px;
}
main .form-content p {
  color: black;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}
main .form-content label,
main .was-validated .form-check-input:invalid ~ .form-check-label,
main .was-validated .form-check-input:valid ~ .form-check-label {
  color: black;
}
main .form-content input[type=text],
main .form-content input[type=password],
main .form-content input[type=email],
main .form-content select {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}
main .btn-primary {
  background-color: #6C757D;
  outline: none;
  border: 0px;
  box-shadow: none;
}
main .btn-primary:hover,
main .btn-primary:focus,
main .btn-primary:active {
  background-color: #565249;
  outline: none !important;
  border: none !important;
  box-shadow: none;
}
main .form-content textarea {
  position: static !important;
  width: 100%;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: left;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 14px;
}
main .form-content textarea:hover,
main .form-content textarea:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8D8D8D;
}
main .mv-up {
  margin-top: -9px !important;
  margin-bottom: 8px !important;
}
main .invalid-feedback {
  color: #ff606e;
}
main .valid-feedback {
  color: #f3efb0 !important;
}

footer {
  display: flex;
  grid-area: footer;
  bottom: 0;
  margin-top: 30px;
  margin-left: 30px;
  padding-left: 40px;
  font-size: 1rem;
  margin: 1rem;
  padding: 2.5em 0;
  text-align: center;
  margin-right: 5px;
  padding-right: 50px;
  position: absolute;
}

.socials {
  margin-right: 40px;
  color: #bdbdbd;
}

.socials--item {
  margin: 0 0.5em;
  margin-right: 5px;
}

.socials--item:hover {
  color: #333;
}

* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  color: #333;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

p {
  max-width: 600px;
}

.logo {
  align-items: left;
  margin: 3px 15px 5px 0px;
  padding-left: 5px;
}

header {
  text-align: left;
  grid-area: header;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.nav__link {
  text-decoration: none;
  color: black;
  margin-left: 30px;
  padding-left: 30px;
}
.nav__link:hover {
  background-color: gold;
  transition: 0.5s;
}

.nav__item:first-child {
  margin-left: 0;
}

/*Navbar */
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d3531a;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* Navbar cruz que se colapsa*/
.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* Cuando se hace click en la navegación */
.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/* Color de las 3 líneas */
.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(263deg, rgb(252, 74, 74) 0%, rgb(0, 212, 255) 100%);
}

#container {
  max-width: 1200px;
  margin-top: 5px;
  margin-left: 5px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
