
main {  
        grid-area: main;
        

        .qSomos{
          flex: 1;
          margin-top: 10px;
          margin-bottom: 60px;
          background: map-get($colors, color-gradient-index);
          width: 70%;
          animation: typewriter 4s steps(44) 1s 1 normal both,
                    blinkTextCursor 500ms steps(44) infinite normal;
              
                    @keyframes typewriter {
                      from {
                        width: 0;
                      }
                    
                      to {
                        width: 100%;
                      }
                      }
                
                
            
                @keyframes blinkTextCursor {
                  from {
                    border-right-color: rgba(255, 255, 255, .75);
                  }
                
                  to {
                    border-right-color: transparent;
                  }
                                            }
            

          .headline{
                  

                .description{color: #828282;
                  text-align: left;
                             }

                      }  
          
                }


        .calidadLema{
          @extend .qSomos;
        }

        .invitacion{
          @include invitados(red, center, 270px);

        }

      }
