
footer {
    display: flex;
    grid-area: footer;
    position: absolute;
    bottom: 0;
    // margin-right: 15px;
    // margin-top: 15px;
    // margin-bottom: 15px;
    // margin-left: 30px;
    font-size: 1rem;
    margin: 1rem;
  }
  
  .socials {
    margin-right: 40px;
    color: #bdbdbd;
  }
  
  .socials--item {
    margin-right: 12px;
  }
  
  .socials--item:hover {
    color: #333;
  }