.logo {
    align-items: center;
    margin: 15px 15px 15px 15px;
  }
  
//   a:hover {
//     background-color: gold;
//     transition: 0.5s;
//   }

  header {
    text-align: center;
    grid-area: header;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    }

    .nav-link {
        margin-top: 16px;
        transition: 0.5s;

        &:hover{
            background-color: gold;
            transition: 0.5s;
        }
     }
      
      .nav__item {
      text-decoration: none;
      color: black;
      margin-left: 24px;
      }
      
      .nav__item:first-child {
      margin-left: 0;
      }
      