$color-form-background-color:  white;
$color-gradient-index: linear-gradient(to top, rgb(238, 176, 210), rgb(190, 190, 94));
$espacio: 20px 0;
$espacio2: 25px 0;

$colors:(
color-form-background-color: rgb(92, 170, 109),
color-gradient-index: linear-gradient(to top, rgb(238, 176, 210), rgb(190, 190, 94))
);

